.course-hero-container {
  display: flex;
  padding: 3% 5% 0.2% 5%;
}

.course-category {
  width: 21%;
  background-color: var(--active-link);
  padding: 2%;
  margin-right: 4%;
}

.course-section {
  width: 79%;
  padding: 0; /* Remove unnecessary padding */
  height: calc(100vh - 50px); /* Adjust based on your header or other elements */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Ensure the header sticks relative to this container */
  scrollbar-width: none;
}

.course-category h3 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 14px;
  color: var(--black);
  font-family: var(--exo-ff);
}

.course-category label {
  display: flex;
  align-items: center;
  color: var(--light-grey-text-color);
  font-family: var(--jost-ff);
  font-size: 18px;
  line-height: 1.9em;
  cursor: pointer;
}

.course-category input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.course-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Makes the header stick to the top */
  top: 0; /* Sticks to the top of its container */
  background-color: var(--white); /* Ensures the header doesn't show underlying content */
  z-index: 10; /* Ensures the header stays above other content */
  padding-top: 1.1rem; /* Adjust padding as necessary */
}

.course-section-header h1 {
  font-size: 32px;
  color: var(--black);
  font-weight: 600;
  font-family: var(--inter-ff);
}

.course-search-input {
  border-bottom: 2px solid var(--border-color);
  position: relative;
}

.course-search-input input {
  width: 3in;
  padding: 0 25px 2px 0;
}

.course-search-input i {
  position: absolute;
  right: 1%;
  top: 19%;
}

.course-header-search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-search-input input::placeholder {
  font-family: var(--jost-ff);
  font-size: 17px;
}

.course-list-icon i {
  font-size: 18px;
  padding-left: 20px;
}

.course-main-div {
  display: flex;
  padding: 2% 0;
  border-bottom: 2px solid var(--border-color);
}

.course-main-div img {
  width: 285px;
  height: 175px;
}

.course-details {
  padding-left: 20px;
  font-family: var(--inter-ff);
}

.course-details-header {
  display: flex;
  justify-content: space-between;
}

.course-details-header h3 {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.course-details-header span {
  font-size: 16px;
  font-weight: 700;
}

.course-details p {
  padding: 6px 0;
  width: 80%;
}

.course-icon-section span {
  padding-right: 20px;
  font-family: var(--jost-ff);
  color: var(--light-grey-text-color);
}

.course-icon-section span i {
  font-size: 14px;
  color: var(--icon-primary-color);
  padding-right: 3px;
}

.course-rating {
  font-size: 15px;
  padding: 10px 0;
}

.course-btn {
  display: flex;
  justify-content: space-between;
}

.security-button,
.add-to-cart-btn {
  font-size: 14px;
  padding: 4px 14px;
}

.security-button {
  font-weight: 700;
  background-color: var(--secondary-btn-color);
}

.add-to-cart-btn {
  font-weight: 600;
  background-color: var(--button-primary-color);
  color: var(--white);
}

.course-grid-main-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 2% 0;
}

.course-inner-content{
  border-bottom: 2px solid var(--secondary-btn-color);
  padding-bottom: 12px;
}

.course-inner-content h3{
  font-family: var(--inter-ff);
  color: var(--black);
  padding: 10px 0;
  line-height: 1.4em;
  font-size: 18px;
  font-weight: 700;
}

.author-and-rating{
  display: flex;
  padding-bottom: 8px;
  font-family: var(--inter-ff);
  justify-content: space-between;
}

.author-and-rating span{
  font-size: 15px;
}

.author-and-rating .courses-reviews{
  font-weight: 700;
}

.courses-reviews i{
  font-size: 13px;
  color: var(--icon-primary-color);
}

.customer-review-number{
  font-size: 13px !important;
  font-weight: 500;
  color: var(--light-grey-text-color);
}

.course-content .security-button{
  font-family: var(--inter-ff);
  font-weight: 500;
}

.course-price-and-add-to-cart-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 15px 0;
}

.course-price{
  font-size: 17px;
  font-family: var(--inter-ff);
  font-weight: 700;
}

.course-price-and-add-to-cart-btn .add-to-cart-btn{
  font-family: var(--inter-ff);
  padding: 5px 10px;
}

.courses-line-bottom-border{
  border-bottom: 2px solid var(--light-grey-text-color);
}