.course-hero-container {
  display: flex;
}

.course-category {
  width: 21%;
  background-color: var(--active-link);
  padding: 2%;
  margin-right: 4%;
}

.course-section {
  width: 79%;
  padding: 0;
  height: calc(100vh - 50px);
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.course-category h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--black);
  font-family: var(--exo-ff);
}

.course-category label {
  display: flex;
  align-items: center;
  color: var(--light-grey-text-color);
  font-family: var(--jost-ff);
  font-size: 18px;
  line-height: 1.8em;
  cursor: pointer;
  user-select: none;
}

.course-category input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.course-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 10;
  padding-top: 1.1rem;
}

.course-section-header h1 {
  font-size: 32px;
  color: var(--black);
  font-weight: 600;
  font-family: var(--inter-ff);
}

.course-search-input {
  border-bottom: 2px solid var(--border-color);
  position: relative;
}

.course-search-input input {
  width: 3in;
  padding: 0 25px 2px 0;
}

.course-search-input i {
  position: absolute;
  right: 1%;
  top: 19%;
}

.course-header-search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-search-input input::placeholder {
  font-family: var(--jost-ff);
  font-size: 17px;
}

.course-list-icon i {
  font-size: 18px;
  padding-left: 20px;
}

.course-main-div {
  display: flex;
  padding: 2% 0;
  border-bottom: 2px solid var(--border-color);
}

.allcourses-course-image img {
  object-fit: cover;
  max-width: 285px;
  min-width: 285px;
  max-height: 175px;
  min-height: 175px;
}

.course-details {
  padding-left: 20px;
  width: -webkit-fill-available;
  font-family: var(--inter-ff);
}

.course-details-header {
  display: flex;
  justify-content: space-between;
}

.course-details-header h3 {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.course-details-header span {
  font-size: 16px;
  font-weight: 700;
}

.course-details p {
  padding: 6px 0;
  width: 80%;
  min-height: 54px;
}

.course-icon-section span {
  padding-right: 20px;
  font-family: var(--jost-ff);
  color: var(--light-grey-text-color);
}

.course-icon-section span i {
  font-size: 14px;
  color: var(--icon-primary-color);
  padding-right: 3px;
}

.course-rating {
  font-size: 15px;
  padding: 10px 0;
}

.course-btn {
  display: flex;
  justify-content: space-between;
}

.security-button,
.add-to-cart-btn {
  font-size: 14px;
  padding: 4px 14px;
}

.add-to-cart-btn.disabled,
.btn-add.disabled {
  background-color: rgb(163, 160, 160);
  cursor: not-allowed;
}

.security-button {
  font-weight: 700;
  background-color: var(--secondary-btn-color);
}

.add-to-cart-btn {
  font-weight: 600;
  background-color: var(--button-primary-color);
  color: var(--white);
}

.course-grid-main-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding: 2% 0;
}

.course-inner-content {
  border-bottom: 2px solid var(--secondary-btn-color);
  padding-bottom: 12px;
}

.course-inner-content h3 {
  font-family: var(--inter-ff);
  color: var(--black);
  padding: 10px 0;
  min-height: 70px;
  line-height: 1.4em;
  font-size: 18px;
  font-weight: 700;
}

.author-and-rating {
  display: flex;
  padding-bottom: 8px;
  font-family: var(--inter-ff);
  justify-content: space-between;
}

.author-and-rating span {
  font-size: 15px;
}

.courses-reviews {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.courses-reviews i {
  font-size: 13px;
  color: var(--icon-primary-color);
}

.customer-review-number {
  font-size: 13px !important;
  font-weight: 500;
  color: var(--light-grey-text-color);
}

.course-content .security-button {
  font-family: var(--inter-ff);
  font-weight: 500;
}

.course-price-and-add-to-cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 15px 0;
}

.course-price {
  font-size: 17px;
  font-family: var(--inter-ff);
  font-weight: 700;
}

.course-price-and-add-to-cart-btn .add-to-cart-btn {
  font-family: var(--inter-ff);
  padding: 5px 10px;
}

.courses-line-bottom-border {
  border-bottom: 2px solid var(--light-grey-text-color);
}

.filter-button {
  background-color: var(--button-primary-color);
  color: var(--white);
  padding: 6px 15px;
  font-size: 20px;
  font-family: var(--jost-ff);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-button i {
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  .course-details {
    padding-left: 15px;
    width: -webkit-fill-available;
  }

  .course-category h3 {
    font-size: 20px;
  }

  .course-category label {
    font-size: 17px;
  }

  .course-category {
    margin-right: 3%;
  }

  .allcourses-course-image img {
    max-width: 224px;
    min-width: 224px;
    max-height: 170px;
    min-height: 170px;
  }

  .course-section-header {
    padding-top: 0.8rem;
  }

  .course-icon-section span {
    padding-right: 10px;
    font-size: 15px;
  }

  .course-details p {
    width: 470px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .course-grid-main-div {
    gap: 20px;
  }

  .course-grid-main-div .author-name,
  .course-grid-main-div .author-and-rating {
    display: block;
    line-height: 1.6em;
  }

  .course-inner-content h3 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 851px) {

  .course-hero-container {
    display: block;
  }

  .course-section {
    width: 100%;
    height: auto;
  }

  .category-list {
    padding-top: 10px;
  }

  .course-category {
    width: 100%;
    padding: 3%;
  }

  .desktop-sidebar {
    display: none;
  }

  .course-details p {
    width: 400px;
  }

  .course-category h3 {
    padding-bottom: 0;
  }

  .course-section-header h1 {
    font-size: 27px;
  }

  .filter-button {
    display: flex;
  }

  .filter-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .filter-sidebar.open {
    transform: translateX(0);
    z-index: 100;
    padding: 20px;
  }

  .filter-sidebar.closed {
    transform: translateX(-100%);
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .category-list {
    padding: 20px;
    overflow-y: auto;
  }

  .category-list label {
    display: block;
    margin-bottom: 10px;
  }

  .course-category {
    background-color: transparent;
    padding: 1% 0;
    margin-right: 0;
  }

  .filter-button i {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .course-inner-content h3 {
    width: 87%;
  }

  .allcourses-course-image img {
    min-width: -webkit-fill-available;
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 10px;
  }

  .course-section-header {
    display: block;
  }

  .course-section-header h1 {
    font-size: 25px;
    padding-bottom: 5px;
  }

  .filter-button {
    font-size: 16px;
    padding: 7px 15px;
  }

  .course-grid-main-div {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 4% 0;
  }

  .course-details-header h3 {
    font-size: 19px;
    width: 80%;
  }

  .course-inner-content h3 {
    line-height: 1.2em;
  }

  .course-main-div {
    display: block;
  }

  .course-header-search-section {
    padding: 2% 0 1% 0;
  }

  .course-category label {
    font-size: 16px;
  }

  .course-details {
    padding-left: 0px;
  }

  .course-main-div {
    padding: 5% 0;
  }

  .course-icon-section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }

  .course-details p {
    width: -webkit-fill-available;
    white-space: wrap;
  }
}

@media screen and (max-width: 400px) {
  .course-section-header h1 {
    font-size: 23px;
  }

  .course-search-input input {
    width: 2.5in;
  }

  .course-icon-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-button {
    padding: 5px 10px;
  }

  .filter-button i {
    font-size: 13px;
  }
}

@media screen and (max-width: 350px) {
  .course-grid-main-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .course-search-input input {
    width: 2in;
  }
}