.breadcrumb {
    padding: 3% 5%;
    border-top: 2px solid var(--button-secondary-color);
    background-color: var(--breadcrumb-bg);
}

.breadcrumb a {
    color: var(--breadcrumb-secondary-color);
    text-decoration: none;
    font-size: 15px;
    margin: 0 8px;
}

