.checkout-section {
  padding: 2% 5% 0.2% 5%;
}

.checkout-section-main-div {
  display: flex;
  padding-top: 4%;
}

.checkout-section h2 {
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid var(--secondary-btn-color);
  padding-bottom: 12px;
  font-family: var(--inter-ff);
  color: var(--black);
}

.checkout-section .form-container {
  width: 43%;
  margin-right: 8%;
  background-color: var(--white);
  border-radius: 8px;
}

.checkout-section .form-group {
  margin-bottom: 25px;
}

.checkout-section .form-group label {
  display: block;
  font-size: 15px;
  font-family: var(--inter-ff);
  margin-bottom: 5px;
}

.form-group-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.checkout-section .form-group input,
.checkout-section .form-group select {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  outline: none;
}

.checkout-section .form-group input::placeholder {
  color: var(--light-gray-text);
  font-family: var(--jost-ff);
}

.checkout-section .checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkout-section .checkbox-group input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.checkout-section .checkbox-group label {
  font-size: 15px;
  font-family: var(--inter-ff);
  color: var(--black);
}

.checkout-section .required {
  color: var(--icon-primary-color);
}

.checkout-section .checkout-review-cart-section {
  width: 38%;
  background-color: var(--bg-color);
  padding: 3% 4%;
}

.checkout-section .cart-container h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 18px;
  color: var(--black);
  font-family: var(--inter-ff);
}

.checkout-section .course-cart-content {
  display: flex;
  font-family: var(--inter-ff);
}

.checkout-section .course-cart-content img {
  width: 100px;
  height: 92px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
  border: 2px solid var(--border-color);
}

.checkout-section .course-cart-quantity {
  color: var(--font-color);
  font-size: 14px;
}

.checkout-section .discount-code {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px 0;
}

.checkout-section .discount-code input {
  width: 100%;
  padding: 12px;
}

.checkout-section .discount-code i {
  font-size: 20px;
  padding: 14px 0 14px 14px;
  background-color: var(--white);
  color: var(--sidebar-pages-color);
}

.checkout-section .course-payment-btn {
  color: var(--button-primary-color);
  padding: 10px 14px;
  font-size: 19px;
  font-weight: 500;
  font-family: var(--jost-ff);
  background-color: var(--white);
}

.checkout-section .price-summary {
  font-family: var(--inter-ff);
  text-align: left;
  margin-bottom: 16px;
}

.checkout-section .price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 15px;
  color: var(--sidebar-pages-color);
}

.checkout-section .total {
  font-weight: 600;
  font-size: 17px;
  color: var(--black);
}

.checkout-section .subtotal-price,
.checkout-section .discount-price {
  color: var(--black);
  font-weight: 600;
}

.checkout-section .pay-now-btn {
  text-align: center;
  border-radius: 6px;
  padding: 9px 0;
  font-size: 17px;
  font-weight: 500;
  background-color: var(--button-primary-color);
  color: var(--white);
}

.checkout-section .secure-checkout {
  padding-top: 6%;
  font-family: var(--inter-ff);
}

.checkout-section .secure-checkout span {
  color: var(--black);
  font-weight: 600;
}

.checkout-section .secure-checkout span i {
  color: var(--button-primary-color);
  margin-right: 10px;
}

.checkout-section .secure-checkout p {
  font-size: 15px;
  padding-top: 10px;
  line-height: 1.5em;
  color: var(--sidebar-pages-color);
}

@media screen and (max-width: 1200px) {
  .checkout-section .form-container {
    width: 50%;
    margin-right: 6%;
  }

  .checkout-section .checkout-review-cart-section {
    width: 44%;
  }
}

@media screen and (max-width: 900px) {
  .checkout-section {
    padding: 4% 5% 0.2% 5%;
  }

  .checkout-section-main-div {
    display: block;
  }

  .checkout-section h2 {
    font-size: 27px;
    padding-bottom: 6px;
  }

  .checkout-section .form-container {
    width: 100%;
  }

  .checkout-section .checkout-review-cart-section {
    margin-right: 0;
    width: 60%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 500px) {
  .checkout-section {
    padding: 6% 5% 0.2% 5%;
  }

  .checkout-section-main-div {
    padding-top: 7%;
  }

  .checkout-section .checkbox-group label {
    font-size: 14px;
  }

  .checkout-section h2 {
    font-size: 24px;
    padding-bottom: 4px;
  }

  .checkout-section .checkout-review-cart-section {
    width: 100%;
    margin-top: 10%;
    padding: 6%;
  }

  .checkout-section .course-cart-content img {
    width: 90px;
    height: 85px;
  }

  .form-group-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    column-gap: 1.25rem;
  }

}