.course-video-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 100%;
  margin: auto;
}

.video-player {
  position: relative;
  width: 100%;
  padding: 10px;
}

.video-element {
  width: 100%;
  height: auto;
}

.thumbnail-container {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

#description_bottom{
  padding-bottom: 0px;
}

.play-button-overlay {
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 4px solid #f39c12;
  animation: borderZoom 2s infinite ease-in-out;
}

/* Play Button Icon (Triangle Shape) */
.play-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Animation for the border zoom effect */
@keyframes borderZoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Thumbnail Section */
.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  transition: opacity 0.3s ease;
}

/* Video Container */
.video-container {
  position: relative;
  width: 100%;
}

.course-info {
  margin: 10px;
}

.course-info .module {
  box-shadow: none;
}

.course-info .module-content {
  padding: 0px;
}

.course-info .module-lesson {
  border-bottom: 2px solid #fff;
}

.course-info .module-list {
  background-color: #fff;
  padding: 8px;
}

.course-info button.resource-btn {
  margin-right: 10px;
}

.course-info .lesson-actions button {
  padding: 3px 5px;
}

.video-navbar {
  font-family: var(--inter-ff);
}

.back-btn {
  border: 1px solid var(--black);
  border-radius: 0;
  padding: 3px 10px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .video-navbar .md\\:hidden {
    display: block;
  }

  .video-navbar .md\\:flex {
    display: none;
  }
}

@media (max-width: 1024px) {
  .video-navbar .text-sm {
    font-size: 12px;
  }
  .course_module_duration{
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .course-video-container {
    grid-template-columns: 1fr;
  }

  .play-button-overlay {
    width: 60px;
    height: 60px;
  }

  .play-icon {
    border-left: 15px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  .thumbnail-image {
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .back-btn {
    margin-left: 10px;
    padding: 1px 0px 0px 7px;
    font-size: 18px;
  }

  .back-btn span,
  .back-btn i + * {
    display: none;
  }
}

@media (max-width: 475px) {
  .video-navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .video-navbar > .flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
}

@media (max-width: 426px) {
  .course-video-container .learning-list ul {
    display: block;
  }

  .video-navbar .course-title {
    width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .video-navbar .navbar-logo img {
    width: 85px;
  }
}
