.client_section h1 {
    font-size: 44px;
    color: var(--black);
    font-weight: 800;
}

.client_section {
    /* font-family: var(--tp-ff-body); */
    font-family: var(--inter-ff);
    /* font-family: var(--jost-ff); */
    /* font-family: var(--exo-ff); */
}

.client_section label {
    font-family: var(--inter-ff);
}

.client_section input::placeholder {
    font-family: var(--inter-ff);
}

.client_section h3 {
    font-size: 35px;
    font-weight: 700;
    color: var(--black);
}

.client_section h1,
.client_section h2,
.client_section h3,
.client_section h4,
.client_section h5 {
    line-height: 1.2em;
    color: var(--black);
}

.client_section p {
    font-size: 16px;
    line-height: 1.5em;
    padding-bottom: 15px;
}

/* ------------hero-container-------------- */

.cus-hero-container {
    width: 100%;
    display: flex;
}

.cus-hero-text {
    width: 49%;
    background-color: var(--Primary-background);
    padding: 5% 4% 5% 10%;
}

.cus-hero-text h1 {
    padding-bottom: 20px;
}

.cus-hero-text p {
    padding-bottom: 6%;
    font-size: 17px;
}

.cus-hero-btn1,.cus-hero-btn2:hover {
    background-color: var(--button-primary-color);
    color: var(--white);
    padding: 8px 25px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid var(--button-primary-color);
}

.cus-hero-btn2,.cus-hero-btn1:hover {
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    padding: 8px 25px;
    border: 1px solid var(--black);
    border-radius: 20px;
}

.cus-hero-image {
    width: 51%;
    height: 511px;
}

.cus-hero-image img {
    width: 100%;
    height: 100%;
}

/* -----------courses-section--------------- */

.cus-courses-section {
    padding: 6% 8%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.cus-mid-content1 {
    width: 26%;
    padding: 28px;
    background-color: var(--content1-background);
    border-radius: 10px;
}

.cus- img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.cus-content h2 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 30px;
}

#cus-underline1 {
    border-bottom: 2px solid var(--content-border-color);
    padding-bottom: 10px;
}

.cus-content h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.cus-content p {
    font-size: 15px;
    line-height: 1.3em;
}

.cus-mid-content2 {
    width: 26%;
    padding: 28px;
    background-color: var(--Primary-background);
    border-radius: 10px;
}

.cus-mid-content3 {
    width: 26%;
    padding: 28px;
    background-color: var(--content3-background);
    border-radius: 10px;
}

.cus-course-overview-section {
    padding: 0 10%;
}

.cus-mid-overview-image {
    width: 58%;
    height: 650px;
}

.cus-mid-overview-image img {
    width: 100%;
    height: 100%;
}

/* -----------course-overview-section-------------- */

.cus-course-overview-section {
    display: flex;
    position: relative;
}

.cus-course-overview-Text {
    width: 44%;
    background: var(--white);
    top: 10%;
    left: 46%;
    position: absolute;
    padding: 40px 65px;
    border-radius: 20px;
    box-shadow: 0 10px 30px var(--box-shadow);
}

.cus-inner-header-section p {
    padding-bottom: 25px;
}

.cus-inner-header-section h3 {
    padding-bottom: 20px;
}

.cus-inner-header-section ul li {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 1.5em;
}

/* -------------Enroll-section-------------- */

.cus-Enroll-section {
    background-color: var(--Primary-background);
    padding: 4% 9% 4% 10%;
    margin-top: 9%;
}

.cus-caption h4 {
    font-size: 35px;
    padding-bottom: 18px;
}

.cus-content-part {
    padding-top: 1%;
}

.cus-caption-text p {
    font-size: 14px;
}

.cus-content-part {
    display: flex;
    text-align: justify;
    gap: 4%;
    width: 100%;
}

.cus-left-content,
.cus-right-content {
    display: flex;
    width: 50%;
}

.cus-caption-text i {
    margin-right: 10px;
    font-size: 25px;
}

/* -------------course-growth-section-------------- */

.cus-course-growth-section {
    background-color: var(--secondary-background);
    padding: 3% 8%;
}

.cus-course-growth-section p {
    color: var(--white);
}

.cus-course-growth-section h4 {
    color: var(--white);
}

.cus-course-growth-header {
    text-align: center;
}

.cus-course-growth-header h4 {
    font-size: 35px;
    padding-bottom: 8px;
}

.cus-course-growth-section-text {
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
}

.cus-inner-text {
    width: 30%;
}

.cus-inner-text .cus-btn1 {
    padding: 3px 25px;
    border-radius: 15px;
    border: none;
    color: var(--white);
    background: var(--step-button-background);
    margin-bottom: 15px;
}

.cus-inner-text p {
    font-size: 15px;
}

/* -------------contact-section-------------- */

.cus-contact-section {
    display: flex;
    padding: 5% 10%;
}

.cus-contact-inner-section {
    width: 50%;
}

.cus-contact-inner-section h5 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 700;
}

.cus-live-chat-section {
    padding-top: 8%;
}

.cus-live-chat-section h5 {
    font-size: 18px;
    padding-bottom: 5px;
}

.cus-live-chat-btn button {
    background-color: var(--button-primary-color);
    color: var(--white);
    border: 1px solid var(--button-primary-color);
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    padding: 9px 23px;
}

.cus-live-chat-btn button:hover {
    background-color: transparent;
    border: 1px solid var(--button-primary-color);
    color: var(--button-primary-color);
}

.cus-contact-form {
    width: 40%;
    margin-left: 10%;
    padding: 3%;
    border-radius: 25px;
    background-color: var(--icon-background);
    height: auto;
}

.cus-contact-form h6 {
    font-size: 20px;
    padding-bottom: 25px;
    text-align: center;
    color: var(--black);
    font-weight: 600;
}

.cus-contact-form input {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 2.5% 0% 2.5% 7%;
    font-size: 15px;
}

.cus-message-box {
    height: 23%;
    width: 100%;
    margin-bottom: 15px;
    padding: 3% 0% 0% 7%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}

.cus-submit-btn {
    display: flex;
    justify-content: center;
    color: var(--white);
    padding-bottom: 15%;
}

.cus-submit-btn button {
    background-color: var(--button-primary-color);
    border: 1px solid var(--button-primary-color);
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 30px;
}

.cus-submit-btn button:hover {
    border: 1px solid var(--button-primary-color);
    color: var(--button-primary-color);
    background-color: transparent;
}

/* -------------footer-section-------------- */

.cus-footer-section {
    display: flex;
    padding: 0 9%;
    align-items: center;
    gap: 14%;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--footer-bottom-background);
}

.cus-footer-section img {
    width: 14%;
    height: fit-content;
}

.cus-footer-inner-text {
    display: flex;
    width: 35%;
    align-items: center;
}

.cus-footer-inner-text a {
    margin: 0 5%;
    text-decoration: none;
    color: var(--black);
}

.cus-footer-icon {
    display: flex;
    gap: 8%;
    align-items: center;
}

.cus-footer-icon i {
    background-color: var(--button-primary-color);
    color: var(--white);
    width: 56px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cus-footer-icon i:hover {
    border: 1px solid var(--button-primary-color);
    color: var(--button-primary-color);
    background-color: transparent;
}

.cus-footer-border-bottom-text {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

.cus-policy-text {
    display: flex;
}

.cus-policy-text a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--black);
}


@media screen and (max-width:1025px) {
    .cus-course-overview-section {
        padding: 0 5%;
    }
   
    .cus-mid-overview- {
        width: 60%;
        height: 550px;
    }

    .cus-courses-section {
        padding: 4%;
    }

    .cus-mid-content1,
    .cus-mid-content2,
    .cus-mid-content3 {
        width: 32%;
        padding: 15px;
    }

    .cus-course-overview-Text {
        width: 52%;
        left: 43%;
        top: 5%;
    }

    .cus-Enroll-section {
        padding: 4% 6%;
    }

    .cus-contact-form input {
        padding: 2.5% 26% 2.5% 7%;
    }

    .cus-footer-section {
        gap: 9%;
        padding: 0 5%;
    }

    .cus-contact-section {
        padding: 5%;
    }

    .cus-footer-inner-text {
        width: 40%;
    }
}

@media screen and (max-width:821px) {

    .cus-hero-text {
        padding: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
    }

    h3 {
        font-size: 30px;
    }


    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.1em;
    }

    p {
        line-height: 1.3em;
        padding-bottom: 10px;
    }

    .cus-hero-btn1,
    .cus-hero-btn2 {
        padding: 8px 10px;
        font-size: 13px;
    }

    .cus-hero-image {
        height: 435px;
        width: 55%;
    }

    .cus-mid-content1,
    .cus-mid-content2,
    .cus-mid-content3 {
        width: 32%;
        padding: 15px;
    }

    .cus-courses-section {
        padding: 6% 2%;
        justify-content: space-around;
    }

    #cus-underline1 {
        padding-bottom: 5px;
    }

    .cus-content h2 {
        padding-bottom: 20px;
    }

    .cus-content h3 {
        font-size: 18px;
    }

    .cus-mid-overview-image {
        width: 70%;
        padding-bottom: 5%;
        height: 550px;
    }

    .cus-course-overview-section {
        padding: 0 6%;
    }

    .cus-course-overview-Text {
        width: 60%;
        top: 6%;
        left: 35%;
        padding: 20px 30px;
        border-radius: 20px;
    }

    .cus-inner-header-section p {
        padding-bottom: 15px;
    }

    .cus-security-solution-section-header {
        padding: 7%;
    }

    .cus-Enroll-section {
        margin-top: 2%;
        padding: 5%;
    }

    .cus-caption {
        text-align: center;
    }

    .cus-caption h4 {
        font-size: 32px;
        padding: 0 10% 2% 10%;
    }

    .cus-caption p {
        font-size: 15px;
    }

    .cus-course-growth-section {
        padding: 5% 4%;
    }

    .cus-course-growth-header p {
        padding-top: 10px;
    }

    .cus-inner-text p {
        font-size: 14px;
        line-height: 1.5em;
    }

    .cus-inner-text .btn1 {
        padding: 2px 20px;
        font-size: 15px;
    }

    .cus-contact-section {
        padding: 5%;
    }

    .cus-contact-inner-section {
        width: 45%;
    }

    .cus-contact-form {
        width: 50%;
        margin-left: 6%;
    }

    .cus-information-section h5 {
        font-size: 33px;
    }

    .cus-live-chat-btn button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .cus-contact-form input {
        margin-bottom: 15px;
        padding: 2.5% 38% 2.5% 7%;
        font-size: 13px;
    }

    .cus-message-box {
        height: 20%;
        width: 98%;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .cus-submit-btn button {
        font-size: 15px;
        font-weight: 600;
        padding: 7px 20px;
    }

    .cus-submit-btn {
        padding-bottom: 10%;
    }

    .cus-footer-section {
        padding: 0 5%;
        gap: 4%;
        padding-bottom: 10px;
    }

    .cus-footer-inner-text {
        width: 50%;
        padding-left: 3%;
    }

    .cus-footer-inner-text a {
        font-size: 14px;
    }

    .cus-footer-icon i {
        padding: 10px;
    }

    .cus-footer-border-bottom-text {
        padding: 2% 3%;
    }

    .cus-footer-border-bottom-text p,
    a {
        font-size: 13px;
    }
}

@media screen and (max-width:426px) {

    .cus-hero-text,
    .cus-caption h4,
    .cus-inner-text {
        text-align: center;
    }
    .cus-footer-icon i {
        width: 46px;
        height: 42px;
    }
    .cus-hero-container,
    .cus-hero-text,
    .cus-hero-image,
    .cus-course-overview-Text,
    .cus-caption,
    .cus-caption-text,
    .cus-review-section-text,
    .cus-review-section-header,
    .cus--text,
    .cus-contact-inner-section,
    .cus-contact-form,
    .cus-content-part1,
    .cus-content-part2,
    .cus-left-content,
    .cus-right-content {
        width: 100%;
    }

    .cus-hero-container,
    .cus-contact-section {
        display: block;
    }

    .cus-hero-text h1 {
        font-size: 31px;
    }

    .cus-hero-image {
        height: 350px;
    }

    .cus-courses-section {
        display: block;
        padding: 5%;
    }

    .cus-mid-content1,
    .cus-mid-content2,
    .cus-mid-content3 {
        width: 100%;
        margin: 5% 0;
        padding: 10px;
    }

    .cus-course-overview-section {
        display: block;
        padding: 0 5%;
    }

    .cus-mid-overview-image {
        width: 99%;
        padding-bottom: 10%;
        height: 350px;
    }

    .cus-course-overview-Text {
        position: unset;
        padding: 20px 30px;
        border-radius: 20px;
    }

    .cus-security-solution-section-items {
        display: inline-block;
    }

    .cus-Enroll-section {
        display: block;
        margin-top: 10%;
    }

    .cus-caption h4 {
        font-size: 28px;
    }

    .cus-left-content,
    .cus-right-content {
        padding-bottom: 10px;
    }

    .cus-caption-text {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .cus-content-part {
        display: block;
        width: 100%;
    }

    .cus-caption-text i {
        font-size: 20px;
    }

    .cus-course-growth-header h4 {
        font-size: 28px;
    }

    .cus-course-growth-section p {
        font-size: 15px;
        padding: 0px 10px;
    }

    .cus-inner-text {
        width: 100%;
        padding-bottom: 15px;
    }

    .cus-course-growth-section-text {
        display: block;
    }

    .cus-contact-form {
        margin: 10% 0;
    }

    .cus-contact-section {
        padding: 5% 10%;
    }

    .cus-contact-form input {
        margin-bottom: 13px;
        padding: 2.5% 35% 2.5% 7%;
        font-size: 13px;
    }

    .cus-message-box {
        height: 30%;
        width: 99%;
        padding: 3% 0% 10% 7%;
    }

    .cus-footer-section {
        display: block;
        text-align: center;
    }

    .cus-footer-section img {
        height: 50%;
        width: 50%;
    }

    .cus-footer-inner-text {
        width: 100%;
        padding: 5% 0 3% 0;
        justify-content: space-evenly;
    }

    .cus-footer-icon {
        justify-content: center;
        padding: 3% 0;
    }

    .cus-footer-border-bottom-text {
        display: block;
        text-align: center;
    }

    .cus-footer-border-bottom-text p {
        font-size: 12px;
    }

    .cus-policy-text {
        justify-content: center;
    }

}

@media screen and (max-width:321px) {

    .cus-contact-form input {
        padding: 2.5% 25% 2.5% 7%;
    }
}