.main_stu_dashboard {
    display: flex;
    padding: 3% 5% 0.2% 5%;
}

.stu-main-sidebar .sildebar-profile-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main_stu_dashboard .content {
    width: 78%;
    height: calc(100vh);
    overflow-y: auto;
    scrollbar-width: none;
    padding-left: 60px;
    font-family: var(--inter-ff);
}

.main_stu_dashboard .content img{
    height: 165px;
}

.main_stu_dashboard .content h1 {
    font-weight: 700;
    font-size: 30px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 10;
    color: var(--black);
}

.main_stu_dashboard .stu-main-sidebar {
    background-color: var(--bg-color);
    padding: 30px;
    width: 22%;
    font-family: var(--inter-ff);
}

.sildebar-profile-section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sildebar-profile-section h3{
    color: var(--black);
    font-weight: 600;
}
.stu-sidebar-menu li {
    font-family: var(--inter-ff);
    cursor: pointer;
    padding: 6% 8%;
    margin-bottom: 5px;
}
.stu-sidebar-menu i{
    font-size: 17px;
    margin-right: 15px;
}

.stu-sidebar-menu li:hover{
    background-color: var(--button-primary-color);
    color: var(--white);
    border-radius: 6px;
}

.stu-sidebar-menu li:has(a.active) {
    background-color: var(--button-primary-color);
    color: var(--white);
    border-left: 6px solid #ea5455;
    border-radius: 6px;
    padding-left: 13px;
}

