.shopping-cart-hero-container {
  font-family: var(--inter-ff);
  display: flex;
  justify-content: space-between;
}

.shopping-cart-course-container {
  width: 65%;
  height: calc(100vh - 5px);
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.shopping-cart-course-order-summary {
  width: 30%;
}

.shopping-cart-course-content {
  max-width: 82%;
}

.shopping-cart-course-content img {
  max-width: 250px;
  min-width: 250px;
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
  margin-right: 15px;
}

.shopping-cart-course-content h3 {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.shopping-cart-course-price .course-price {
  font-weight: 700;
  font-size: 18px;
}

.discount-price span:nth-child(1) {
  font-size: 11px;
  font-weight: 600;
  background-color: var(--secondary-btn-color);
  padding: 4px 6px;
  border-radius: 5px;
}

.shopping-cart-course-price {
  text-align: end;
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount-price span:nth-child(2) {
  font-size: 14px;
  color: var(--light-gray-text);
  text-decoration: line-through;
}

.shopping-cart-course-price .remove-btn {
  width: fit-content;
  font-weight: 600;
  background-color: var(--button-primary-color);
  color: var(--white);
  font-size: 14px;
  padding: 4px 16px;
}

.shopping-cart-course-price .remove-btn:hover {
  background-color: rgb(254, 50, 50);
}

.shopping-cart-course-order-summary {
  border: 1px solid var(--border-color);
  margin-top: 1.25rem;
  padding: 3% 2.5%;
  height: fit-content;
}

.order-summary h4 {
  font-size: 18px;
  color: var(--black);
  font-weight: 700;
}

.order-summary span {
  font-size: 15px;
}

.promocode-apply-section {
  padding-top: 6%;
}

.promocode-apply-section label {
  font-family: var(--inter-ff);
  font-size: 16px;
}

.amount-details .detail-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 2em;
}

.detail-row.liner {
  border-bottom: 2px dotted var(--border-color);
}

.promocode-apply-section .process-to-checkout-btn {
  background-color: var(--button-primary-color);
  color: var(--white);
  width: 100%;
  padding: 12px;
  font-weight: 600;
  border-radius: 0;
}

@media screen and (max-width: 1200px) {
  .shopping-cart-course-content img {
    max-width: 210px;
    min-width: 210px;
    margin-right: 15px;
  }

  .course-details-header h3 {
    font-size: 19px;
  }

  .shopping-cart-course-content {
    max-width: 75%;
  }

  .shopping-cart-course-content p {
    font-size: 15px;
  }

  .shopping-cart-course-order-summary {
    width: 32%;
  }

  .promocode-apply-section .process-to-checkout-btn {
    padding: 10px;
  }
}

@media screen and (max-width: 850px) {
  .horizontal-card {
    display: block !important;
  }

  .shopping-cart-course-content {
    display: block !important;
  }

  .shopping-cart-course-content {
    max-width: 100%;
  }

  .shopping-cart-course-content img {
    margin-right: 0px;
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 12px;
  }

  .course-details-header p {
    padding: 4px 0;
  }

  .price-with-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .shopping-cart-course-price .remove-btn {
    width: -webkit-fill-available;
    margin-top: 5px;
  }

  .shopping-cart-course-order-summary {
    width: 45%;
  }

  .shopping-cart-course-container {
    width: 50%;
  }

  .shopping-cart-course-content h3 {
    overflow: hidden;
    
    font-size: 18px;
  }

  .shopping-cart-course-price {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .shopping-cart-hero-container {
    display: block;
  }

  .shopping-cart-course-container,
  .shopping-cart-course-order-summary,
  .shopping-cart-course-content .course-details-header h3 {
    width: 100%;
  }

  .shopping-cart-course-container {
    height: 100%;
    overflow-y: none;
  }

  .shopping-cart-course-order-summary {
    margin-top: 40px;
    padding: 6%;
  }

  .shopping-cart-course-content h3 {
    font-size: 18px;
  }
}
