@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* font family declaration */
  --tp-ff-body: "Poppins", sans-serif;
  /* color declaration */
  --black: black;
  --font-color: #37393a;
  --heading-color: #666;
  --white: #ffffff;
  --hover-color: #396de6;
  --search-bg: #f5f6fa;
  --sidebar-pages-color: #797a7c;
  --border-color: #dfdfe1;
  --heading-h6-color: #5383fd;
  --icon-color: #757575;
  --dropdown-bg-color: #7698ec;
  --light-grey-text-color: #555555;
  --button-primary-color: #4880ff;
  --button-secondary-color: #EEEEEE;
  --net-amount-row-color: #f5f6fa;
  --module-list-bg: #F5F6FA;
}

/*---------------------------------
	typography css start 
---------------------------------*/

.main,
.sidebar {
  font-family: var(--tp-ff-body);
}

a {
  text-decoration: none;
}

body{
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--heading-h6-color);
}

p {
  font-size: 14px;
  font-weight: 400;
  color: var(--tp-text-body);
  /* line-height: 26px; */
  ;
}

thead {
  background-color: #dddddd;
}

table {
  border-collapse: collapse;
  background-color: var(--white);
  width: 100%;
  margin-bottom: 50px;
}

th {
  color: var(--font-color);
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 5px;
  font-size: 14px;
}

td {
  padding: 5px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.main .main-top-bar .hero-inner-logo {
  display: flex;
}

.table-wrapper {
  overflow-y: scroll;
  height: 400px;
}

/* common class name */

.main-top-bar {
  margin-bottom: 5px;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  height: calc(100vh - 55px);
  overflow-y: scroll;
  position: relative;
  left: 230px;
  width: calc(100% - 230px);
  background-color: #f7f7fa;
  padding: 0.5% 0.8%;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F7F7FA;
  border-radius: 10px;
  background-color: transparent;
}

.main::-webkit-scrollbar {
  width: 7px;
  background-color: #F7F7FA;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--button-primary-color);
}

/* all input class */
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 0;
}

textarea {
  resize: vertical;
}

.col6input::placeholder,
.col3input::placeholder,
.col12input::placeholder {
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

.col6input,
.col3input,
.col12input {
  border: 1px solid var(--border-color);
  padding: 8px 10px;
  border-radius: 5px;
  width: 40%;
  margin-top: 5px;
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

.col8input {
  border: 1px solid var(--border-color);
  padding: 8px 10px;
  border-radius: 5px;
  width: 85%;
  margin-top: 10px;
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

.col8input::placeholder {
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

.col3input {
  width: 15%;
  font-size: 13px;
}

.col3input::placeholder {
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

.col12input {
  width: 100%;
  font-family: var(--tp-ff-body);
}

.col12input::placeholder {
  font-size: 13px;
  font-family: var(--tp-ff-body);
}

::placeholder,
select {
  font-family: var(--tp-ff-body);
}

label {
  font-family: var(--tp-ff-body);
  font-size: 14px;
}

/*---------------------------------
	      Button Style
---------------------------------*/


button {
  cursor: pointer;
}

.primary-btn {
  background-color: #4880FF;
  color: var(--white);
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  border: 1px solid var(--button-primary-color);
}

.primary-btn:hover {
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-primary-color);
  color: var(--button-primary-color);
}

.secondary-btn {
  display: inline-block;
  color: var(--button-primary-color);
  border: 1px solid var(--border-color);
  background-color: transparent;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}

.secondary-btn:hover {
  background-color: var(--button-secondary-color);
}

.module-btn {
  padding: 5px 12px !important;
  width: auto;
}

/* i-con css  */

.delete i,
.edit i,
.view i,
.list i,
.xmark i {
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  transition: color 0.3s ease;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  border-color: rgb(224, 224, 224);
}

/*---------------------------------
	      Modal Style
---------------------------------*/

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  font-family: var(--tp-ff-body);
  width: 40%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-container h5 {
  margin-bottom: 15px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}


/* loading css */
.loading::before {
  position: absolute;
  content: "";
  background-color: var(--button-primary-color);
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  animation: progressbar 3s linear infinite;
  animation-delay: 0.3s;
  z-index: 100;
}

@keyframes progressbar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* not author page */
.notfound-wrapper {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  background-color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.notfound-container {
  padding: 66px 16px 66px;
  border: 1px solid white;
  text-align: center;
  color: white;
  width: 92%;
  max-width: 400px;
  margin: 0 4% 0 4%;
}

.notfound-container .notfound-title {
  font-size: 120px;
}

.notfound-container .notfound-description {
  font-size: 48px;
}

.notfound-glitch {
  position: relative;
}

.notfound-glitch:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 0 blue;
  top: 0;
  left: -4px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: glitch 3s infinite linear alternate-reverse;
  animation: glitch 3s infinite linear alternate-reverse;
  height: 100%;
  width: 100%;
}

.notfound-glitch:after {
  content: attr(data-text);
  position: absolute;
  text-shadow: -1px 0 red;
  top: 0;
  left: 4px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: glitch 2s infinite linear alternate-reverse;
  animation: glitch 2s infinite linear alternate-reverse;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes glitch {
  0% {
    clip: rect(24px, 9999px, 136px, 0);
  }

  5% {
    clip: rect(142px, 9999px, 83px, 0);
  }

  10% {
    clip: rect(82px, 9999px, 37px, 0);
  }

  15% {
    clip: rect(51px, 9999px, 78px, 0);
  }

  20% {
    clip: rect(150px, 9999px, 39px, 0);
  }

  25% {
    clip: rect(66px, 9999px, 122px, 0);
  }

  30% {
    clip: rect(141px, 9999px, 33px, 0);
  }

  35% {
    clip: rect(126px, 9999px, 17px, 0);
  }

  40% {
    clip: rect(125px, 9999px, 124px, 0);
  }

  45% {
    clip: rect(34px, 9999px, 22px, 0);
  }

  50% {
    clip: rect(54px, 9999px, 71px, 0);
  }

  55% {
    clip: rect(34px, 9999px, 135px, 0);
  }

  60% {
    clip: rect(150px, 9999px, 98px, 0);
  }

  65% {
    clip: rect(26px, 9999px, 32px, 0);
  }

  70% {
    clip: rect(50px, 9999px, 2px, 0);
  }

  75% {
    clip: rect(144px, 9999px, 77px, 0);
  }

  80% {
    clip: rect(135px, 9999px, 53px, 0);
  }

  85% {
    clip: rect(131px, 9999px, 143px, 0);
  }

  90% {
    clip: rect(127px, 9999px, 133px, 0);
  }

  95% {
    clip: rect(24px, 9999px, 125px, 0);
  }

  100% {
    clip: rect(30px, 9999px, 147px, 0);
  }
}

@keyframes glitch {
  0% {
    clip: rect(24px, 9999px, 136px, 0);
  }

  5% {
    clip: rect(142px, 9999px, 83px, 0);
  }

  10% {
    clip: rect(82px, 9999px, 37px, 0);
  }

  15% {
    clip: rect(51px, 9999px, 78px, 0);
  }

  20% {
    clip: rect(150px, 9999px, 39px, 0);
  }

  25% {
    clip: rect(66px, 9999px, 122px, 0);
  }

  30% {
    clip: rect(141px, 9999px, 33px, 0);
  }

  35% {
    clip: rect(126px, 9999px, 17px, 0);
  }

  40% {
    clip: rect(125px, 9999px, 124px, 0);
  }

  45% {
    clip: rect(34px, 9999px, 22px, 0);
  }

  50% {
    clip: rect(54px, 9999px, 71px, 0);
  }

  55% {
    clip: rect(34px, 9999px, 135px, 0);
  }

  60% {
    clip: rect(150px, 9999px, 98px, 0);
  }

  65% {
    clip: rect(26px, 9999px, 32px, 0);
  }

  70% {
    clip: rect(50px, 9999px, 2px, 0);
  }

  75% {
    clip: rect(144px, 9999px, 77px, 0);
  }

  80% {
    clip: rect(135px, 9999px, 53px, 0);
  }

  85% {
    clip: rect(131px, 9999px, 143px, 0);
  }

  90% {
    clip: rect(127px, 9999px, 133px, 0);
  }

  95% {
    clip: rect(24px, 9999px, 125px, 0);
  }

  100% {
    clip: rect(30px, 9999px, 147px, 0);
  }
}

/* cookie consent */
.cookiewrapper {
  position: fixed;
  bottom: 10px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  padding: 15px 19px 17px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cookiewrapper.show {
  right: 10px;
}

.cookiewrapper header {
  display: flex;
  align-items: center;
}

.cookiewrapper header i {
  color: var(--heading-h6-color);
  font-size: 30px;
}

.cookiewrapper header h4 {
  color: var(--heading-h6-color);
  font-weight: 500;
  padding-bottom: 5px;
}

.wracookiewrapperpper .data {
  margin-top: 16px;
}

.cookiewrapper .data p {
  color: #333;
  font-size: 14px;
}

.cookiewrapper .data a {
  color: var(--heading-h6-color);
  text-decoration: underline;
  font-size: 14px;
}

.cookiewrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookiewrapper .buttons .button {
  font-family: var(--tp-ff-body);
  border: none;
  color: var(--white);
  padding: 8px 0;
  border-radius: 4px;
  background-color: var(--heading-h6-color);
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
  border: 2px solid var(--heading-h6-color);
}

.cookiewrapper .buttons #acceptBtn:hover {
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.cookies-policy-container {
  padding: 20px;
  background-color: #f9f9f9;
}

#user-tag h5 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 325px) {
  .main {
    left: 50px;
    width: calc(100% - 50px);
  }
}

/* client spinners */
.lesson_loader, .lesson_loader:before, .lesson_loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.lesson_loader {
  margin: 0 auto;
  color: var(--button-primary-color);
  font-size: 6px;
  position: relative;
  top: -14px;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.lesson_loader:before,
.lesson_loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.lesson_loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.lesson_loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.client_loading_container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: var(--button-primary-color);
}

.client_loader:before,
  .client_loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.client_loader:after {
  color: var(--icon-primary-color);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
