.student_profile_form {
  padding: 25px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
}

.profile_header_title {
  padding-bottom: 2%;
}

.student_dashboard_profile_header_title{
  font-weight: 700;
  font-size: 30px;
  font-family: var(--inter-ff);
  background-color: var(--white);
  z-index: 10;
  color: var(--black);
}
